<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{sitename}}</title>
    {% include 'head.html' %}
    <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
              displayAlign: "center",
              displayIndent: "0em",

              "HTML-CSS": { scale: 100,
                              linebreaks: { automatic: "false" },
                              webFont: "TeX"
                             },
              SVG: {scale: 100,
                    linebreaks: { automatic: "false" },
                    font: "TeX"},
              NativeMML: {scale: 100},
              TeX: { equationNumbers: {autoNumber: "AMS"},
                     MultLineWidth: "85%",
                     TagSide: "right",
                     TagIndent: ".8em"
                   }
      });
    </script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML"
    ></script>
  </head>
  {% endblock %}
  <body>
    <script>
      {% include 'afterBodyBegin.js' %}
    </script>
    <div class="container">
      {% include 'header.html' %} {% block content %}
      <div class="post-list" id="content">
        {% if section %}
        <h2>{{section}}</h2>
        {% endif %} {% for item in posts %}

        <p class="post-line">
          <a
            href="{{ item['html_path_abs2www'] }}"
            data-number="{{item['idx']}}. "
            >{{ item["title"] }}</a
          >
          <span class="timestamp-block">
            <span class="timestamp index-created">
              {{ item["created"] }}-></span
            >
            <span class="timestamp index-last-modify"
              >{{ item["last_modify"] }}</span
            >
          </span>
        </p>

        {% endfor %}
      </div>
      {% endblock %}

      <footer id="postamble" class="status">
        <span> © {{year}}</span
        ><a href="{{github_url}}" target="_blank"> {{ github_name }} </a> |
        <span
          >Powered by
          <a href="https://www.gnu.org/software/emacs/">Emacs</a> 28.0.50 (<a
            href="https://orgmode.org"
            >Org</a
          >
          mode 9.4.4)</span
        >
        {% if beian %}
        <p class="beian">
          <a href="http://beian.miit.gov.cn/">{{ beian }}</a>
        </p>
        {% endif %}
      </footer>
    </div>
    <script>
      {% include 'beforeBodyEnd.js' %}
    </script>
  </body>
</html>
