<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 2023-03-23 四 20:19 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{sitename}}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../orgchange/themes/darkfloat/style.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../orgchange/themes/main.js"></script>
    <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
              displayAlign: "center",
              displayIndent: "0em",

              "HTML-CSS": { scale: 100,
                              linebreaks: { automatic: "false" },
                              webFont: "TeX"
                             },
              SVG: {scale: 100,
                    linebreaks: { automatic: "false" },
                    font: "TeX"},
              NativeMML: {scale: 100},
              TeX: { equationNumbers: {autoNumber: "AMS"},
                     MultLineWidth: "85%",
                     TagSide: "right",
                     TagIndent: ".8em"
                   }
      });
    </script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="top-header">
        <span class="header__inner">
          <a href="./index.html" style="text-decoration: none">
            <div class="logo">
              <div class="logo-holder-dark">
                <svg
                  viewBox="0 0 24 24"
                  width="20"
                  height="20"
                  stroke="white"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="css-i6dzq1"
                >
                  <polyline points="4 17 10 11 4 5"></polyline>
                  <line x1="12" y1="19" x2="20" y2="19"></line>
                </svg>
              </div>
            </div>
          </a>

          <span class="header__right">
            <div id="header_search">
              <input type="text" placeholder="Hugchange.life..." />
            </div>
          </span>
        </span>
      </header>
      <div class="post-list">
        {% for item in posts %}
        <p>
          <a href="{{ item['html_relative_path'] }}">{{ item["title"] }}</a>
        </p>
        {% endfor %}
      </div>

      <footer id="postamble" class="status">
        <span> © {{year}}</span
        ><a href="{{github_url}}" target="_blank"> {{ github_name }} </a> |
        <span
          >Powered by
          <a href="https://www.gnu.org/software/emacs/">Emacs</a> 28.0.50 (<a
            href="https://orgmode.org"
            >Org</a
          >
          mode 9.4.4)</span
        >
        {% if beian %}
        <p class="beian">
          <a href="http://beian.miit.gov.cn/">{{ beian }}</a>
        </p>
        {% endif %}
      </footer>
    </div>
  </body>
</html>
