{% extends "base.html" %} {% block content %}
<!-- <div id="content"> -->
<!-- if abouts exists -->

<div class="about-container">
  <h2>文章分类</h2>
  <div class="categories">
    {% for category, count in categories_len %}

    <a href="{{publish_offset}}/categories/{{category}}.html"
      >{{category}}:{{count}}</a
    >
    {% endfor %}
  </div>
</div>
{% if abouts %} {% for section,content in abouts %}
<div class="about-container">
  <h2>{{section}}</h2>
  <div class="about">{{content}}</div>
</div>
{% endfor %} {% endif %}
<!-- </div> -->
{% endblock %}
