* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  letter-spacing: 0.06rem;
  scroll-behavior: smooth;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

:root {
  --heading-color: #dfdfdf;
  --toggle-width: 5rem;
  --toggle-height: 2rem;
  --change-decorate: rgb(0, 86, 143);
  --change-decorate1: #09f1;
  --change-decorate8: #09f8;
  --change-decorate-table: #09f1;
  --main-background: #292a2d;
  --header-background: #252627;
  --content-background: #303134;
  --content-color: #a9a9b3;
  --hover-color: #3f3f3f;
  --secondary-text-color: #999;
  --shadow: 8px;
  --pre-text: #bfbfbf;
  --pre-background: #282c34;
}

:root.light {
  --heading-color: #0c0c0c;
  /* --main-background: #c7b28a; */
  --main-background: #c7b28a84 url(paperTexture.webp);
  --header-background: #c8b185;
  --content-background: #c1ac86;

  --content-color: #131313;
  --secondary-text-color: #4e4e4e;
  --hover-color: #d7c9ac;
  --change-decorate: #111314;
  --change-decorate1: #151718ec;
  --change-decorate8: #000000a2;
  --change-decorate-table: #0001;
  --shadow: 4px;
  --pre-text: #363c69;
  --pre-background: #b7a68e;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: var(--main-background);
  background-blend-mode: multiply;

  margin: 0;
  padding: 0;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto",
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-display: auto;
  font-size: 1.4rem;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
}

.top-header {
  background: var(--header-background);

  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
  position: relative;
}

.header-left {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-left a {
  position: relative;
  padding: 0.4rem 0rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 10rem;
  overflow: hidden;
  border-radius: 40px;
}

.header-left a span {
  position: relative;
  color: var(--heading-color);
  font-size: 1rem;
  font-family: Arial;
  letter-spacing: 6px;
  z-index: 1;
  text-align: center;
}

.header-left a .liquid {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100px;
  height: 100px;
  /* background: #4973ff; */
  background: var(--change-decorate);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  opacity: 0;
}

.header-left a .liquid::after,
.header-left a .liquid::before {
  content: "";
  width: 160%;
  height: 160%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #010101;
  top: -30px;
}

.header-left a .liquid::before {
  border-radius: 45%;
  background: var(--main-background);
  animation: animate 5s linear infinite;
}

.header-left a .liquid::after {
  border-radius: 40%;
  background: var(--header-background);
  animation: animate 10s linear infinite;
}

.header-left a:hover .liquid {
  opacity: 1;
}

.header-left a:hover {
  opacity: 1;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.header-right {
  width: calc(100% - 100px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #fff1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
}

.toggle-button {
  display: flex;
  align-items: center;
}

.header-right label {
  width: var(--toggle-width);
  height: var(--toggle-height);
  position: relative;
  display: block;
  border-radius: 100px;
  box-shadow: inset 1px 2px 2px #111,
    inset -1px 2px 2px var(--content-background);
  cursor: pointer;
  transition: 0.3s;
}
.header-right label:after {
  content: "";
  width: calc(var(--toggle-height) * 0.9);
  height: calc(var(--toggle-height) * 0.9);
  position: absolute;
  top: calc(50% - var(--toggle-height) * 0.9 / 2);
  left: calc(50% - var(--toggle-width) * 0.9 / 2);
  border-radius: 100px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: linear-gradient(
    90deg,
    var(--change-decorate),
    var(--change-decorate8)
  );
}
.header-right input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header-right input:checked + label:after {
  left: calc(100% - var(--toggle-height));
}
.header-right label:active:after {
  width: 3.6rem;
}
.header-right input:checked + label:active:after {
  width: 3.6rem;
  left: calc(50% - var(--toggle-width) / 3);
}

.header-items {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.header-items li {
  list-style: none;
  margin: 0 1.4rem;
}

.header-items li a:link,
.header-items li a:visited {
  color: var(--heading-color);
  text-decoration: none;
}

.header-items li a:hover,
.header-items li a:active {
  background-color: var(--content-background);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
}

.title {
  font-size: 3.6rem; /* 2.625rem; *1.6 */
  line-height: 1.4;
}

#preamble {
  display: flex;
  gap: 2rem;
  width: 85%;
}

#preamble span {
  margin: -0rem 0 2rem 0;
  font-size: 1.2rem;
  line-height: normal;
  opacity: 0.6;
}

body a {
  transition: all 0.2s;
  font-weight: bold;
  color: inherit;
}

#table-of-contents {
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #4a4b50;
  padding-bottom: 1rem;
  border-radius: 4px;
  margin-bottom: 3rem;
}

#text-table-of-contents {
  display: none;
  margin-left: 1.2rem;
}

#table-of-contents h2 {
  font-size: 1.6rem;
}

#table-of-contents ul {
  margin-left: 1.6rem;
}

#table-of-contents li {
  padding: 0;
}

#table-of-contents h2 {
  margin: 0rem 1rem;
}

.open #text-table-of-contents {
  display: block;
}

nav h2::before {
  content: "► ";
}

nav a {
  font-weight: 200;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#global-toc {
  padding: 1rem 3rem 1rem 1rem;
  box-sizing: border-box;
  transform: translate(calc(-100% + 1.5rem), 0);
  position: fixed;
  bottom: 2%;
  background-color: var(--content-background);
  color: var(--content-color);
  border-right: 1.5rem solid var(--change-decorate);
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease-in-out;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 12vh;
  z-index: 10;
  margin: 0;
  font-size: 1rem;
}

#global-toc::-webkit-scrollbar {
  display: none;
}

#global-toc li {
  padding: 0;
}

h2 {
  font-size: 2.4rem;
}

.open h2::before {
  content: "▼ ";
}

#content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 820px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
  color: var(--content-color);
  background: var(--content-background);
  box-shadow: 0 calc(var(--shadow) / 2) var(--shadow) 0 rgb(0 0 0 / 40%);
}

p,
ul,
ol {
  margin-bottom: 0.75rem;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.outline-2,
.outline-3,
.outline-4,
.outline-text-2,
.outline-text-3,
.outline-text-4 {
  display: flex;
  flex-direction: column;
}

figure figcaption {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  opacity: 0.8;
}

main figure {
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin-left: 2rem;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-left: 2rem;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

li {
  padding: 0.4rem 0;
}

table {
  font-size: 1.4rem;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
  margin: 0 auto;
}

table thead {
  border-bottom: 1px solid var(--change-decorate8);
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table tbody tr:nth-child(even) {
  background-color: var(--change-decorate-table);
}

table tbody td {
  padding: 10px 20px;
}

p code,
li code {
  display: inline-block;
  white-space: no-wrap;
  background-color: var(--content-background);
  line-height: 1.5rem;
  font-size: inherit;
  border: 0.5px solid var(--hover-color);
  padding: 2px 4px;
  margin: -1px 0px;
}

pre {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-display: auto;
  font-feature-settings: normal;
  color: var(--pre-text);
  background: var(--pre-background);
  overflow: auto;
  position: relative;
  display: block;
  overflow-x: auto;
  padding: 2rem;
  border-radius: 1rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.highlight {
  background-color: inherit;
}

code {
  border-radius: 5px;
  font-size: 1.3rem;
}

/* Start of copy code */
.org-src-container {
  position: relative;
  margin: 0 0;
}

.org-src-container button {
  display: none;
  position: absolute;
  top: 2rem;
  right: 1.2rem;
  background-color: #0000;
  border: none;
  border-radius: 5px;
  color: var(--heading-color);
}

pre.example {
  padding: 1rem;
  border-radius: 0;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 99%;
}

.org-src-container:hover button {
  display: block;
}
/* End of copy code */

/* Start of dialogue block */
.dialogue,
.reply,
.gpt {
  display: inline-block;
  padding: 0.4rem;
  margin: 1.4rem 0.6rem;
  max-width: 90%;
  position: relative;
  background: var(--pre-background);
  border-radius: 8px;
}

.dialogue p,
.reply p,
.gpt p {
  margin: 0rem;
  padding: 1rem;
  text-indent: 0rem;
}

.gpt::before {
  position: absolute;
  left: 0rem;
  top: -1.2rem;
  content: "AI";
  font-size: 1rem;
  border-radius: 6BBBBBpx;
  padding: 4px 7px;
  background-color: var(--pre-background);
  font-weight: bold;
  margin-right: 8px;
}

.gpt,
.reply {
  color: var(--pre-text);
  /* transform: translateX(-5%); */
}

.dialogue {
  /* 将文本右对齐 */
  align-self: flex-end;
}

details {
  border-radius: 1rem;
  border: 0.2px inset var(--heading-color);
  padding: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* End of dialogue code */

hr {
  background: #4a4b50;

  width: 100%;
  border: none;

  height: 1px;

  box-sizing: content-box;
  overflow: visible;
  display: block;
  unicode-bidi: isolate;
  margin: 0.4rem 0;
}

.feather {
  display: inline-block;
  vertical-align: -0.125rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
}

blockquote {
  border-left: 3px solid;
  padding-left: 1rem;
  font-style: italic;
  margin: 2rem 4rem;
}

blockquote p {
  text-indent: 0;
  margin: 0rem 0 0.2rem 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote p:last-child {
  text-align: right;
}

blockquote p:first-of-type {
  margin-top: 0;
}

.paginav {
  margin: 0.4rem 0;
  display: flex;
  line-height: 3rem;
  border-radius: 8px;
  background: var(--content-background);
  border: 1px solid var(--content-background);
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%); */
  gap: 1rem;
}

.categories {
  display: flex;
  gap: 1.6rem;
}

.categories a:link,
.categories a:visited {
  color: var(--heading-color);
  text-decoration: none;
  padding-left: 1.2rem;
  background-color: var(--content-background);
  line-height: 3rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.categories a:hover,
.categories a:active {
  background-color: var(--hover-color);
}

.paginav .prev,
.paginav .next {
  width: 50%;
  margin-inline-end: auto;
  padding: 1rem;
  border-radius: 8px;
}

.paginav .prev {
  text-align: left;
}

.paginav .next {
  text-align: right;
}

.paginav .prev:hover,
.paginav .next:hover {
  background-color: var(--hover-color);
}

.comment {
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%); */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment a {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  text-decoration: none;
  padding: 0rem 1.6rem;
  font-size: 1rem;
}

.comment a svg {
  height: 1.6rem;
  width: 1.6rem;
}

#postamble {
  padding: 2rem;
  flex-grow: 0;
  color: var(--secondary-text-color);
  font-size: 1rem;
  justify-self: flex-end;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--content-background);
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 3px;
}

p {
  text-indent: 0rem;
}

.post-list .post-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 1rem 1rem;
  text-indent: 0rem;
  gap: 1rem;
}

.post-list a:link,
.post-list a:visited {
  color: var(--heading-color);
  text-decoration: none;
  padding-left: 1.2rem;
  border-left: 1px solid var(--change-decorate8);
}

.post-list a:hover,
.post-list a:active {
  color: var(--change-decorate8);
}

.timestamp-block {
  font-size: 1rem;
  right: 0%;
  opacity: 0.5;
}

footer .beian {
  font-size: 85%;
  text-align: center;
  margin-top: 4px;
  padding: 0;
}

.beian a {
  text-decoration: none;
}

.back-top {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 999;
}

.back-top path {
  fill: rgba(140, 141, 142, 0.831);
  opacity: 0.4;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Apply the typewriter animation to the text */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
}

@media (max-width: 600px) {
  .back-top svg {
    width: 4.8rem;
    height: 4.8rem;
  }
  .post-list .post-line {
    margin: 1rem 0rem;
    font-size: 1rem;
  }
  .timestamp-block {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }

  .paginav,
  .comment {
    font-size: 1rem;
  }
  .comment a svg {
    height: 1.2rem;
    width: 1.2rem;
  }

  #preamble {
    justify-content: space-between;
  }

  #preamble span {
    font-size: 1rem;
  }

  .post-list a:link,
  .post-list a:visited {
    max-width: 20rem;
  }

  blockquote {
    margin: 0.4rem 1rem;
  }
}
